<div class="centered">
  <audio autoplay controls loop>
    <source src="speech/<%= @word.word %>.aac" type="audio/aac">
  </audio>

  <%= form_tag 'check' do %>
    <%= hidden_field_tag :word_id, @word.id %>
    <%= text_field_tag :word, '', class: 'form-control input-lg', autofocus: true, autocomplete: 'off' %>
  <% end %>
</div>
