<h3>Correctly Spelled Words</h3>
Count: <%= @words.length %>
<table class="table table-bordered table-striped table-hover">
  <% @words.each do |w| %>
    <tr>
      <td><%= w.word %></td>
    </tr>
  <% end %>
</table>
